# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Django stuff:
*.log
staticfiles/
media/

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db
